* {
  padding: 0px;
  margin: 0;
}
.hide {
  display: none !important;
}
.active {
  background-color: #bfdb38 !important;
}
.not_active {
  background-color: #db3838 !important;
}
.btn_func input {
  min-width: 72px;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background-color: #bfdb38;
}
.info {
  font-size: 32px;
}
.info #time {
  position: absolute;
  top: 100%;
  left: 0px;
}
.info #scores {
  position: absolute;
  top: 100%;
  right: 0px;
}
.main_card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  position: relative;
  text-align: center;
  border: 5px solid rgb(77, 201, 223);
  font-size: 48px;
  max-width: 960px;
  border-radius: 12px;
}
.word_en {
  color: #5818c0;
}
.input_text {
  font-size: 48px;
  text-align: center;
  border: none;
  border-top: 5px solid #00425a;
}
.input_text:focus {
  outline: none;
}
